.homepageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-attachment: fixed;
    background-color: gray;
}

.quizTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-attachment: fixed;
    padding-bottom: 4%;
}

.answerContainer {
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-attachment: fixed;
}

#buttonContainer0 {
    width: 20%;
}

#buttonContainer1 {
    width: 20%;
}

#buttonContainer2 {
    width: 20%;
}

#buttonContainer3 {
    width: 20%;
}